
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

*{
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #303030 rgba(255,255,255,0.1);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 2px;
  }

  *::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.1);
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2);
    border-radius: 0px;
    border: 0px none #000000;
  }





body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  width: 100vw;
  height: 100vh;
}
#gameInterface{
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  display: flex;
  position: fixed;
}
#mobileConsole{
  width: 100vw;
  max-height: 30vh;
  font-size: 25px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1000;
  bottom: 0px;
  overflow-y:scroll;
  padding-left: 25px;

}
#screen{
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}
#gameSceneNotification{
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  pointer-events: none;

}
#renderer{
  outline: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}
#errorSection{
  outline: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
}
#errorContainer{
  width: 30vw;
  height: 40vh;
  margin: auto;
}
#errorText{
  text-align: center;
  font-size: 2vw;
  font-weight: bold;
  color: #333333;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}

.fullSection{
  width: 100vw;
  height: 100vh;
  display: flex;
  outline: none;
  position: fixed;
}
.buttonSpan{
  margin: auto;
}

/* REGISTRATION */
