#fullScreenButton{
  width: 5vw;
  height: 2vw;
  position: fixed;
  right: 10%;
  top:10%;
  z-index: 1000;
  font-size: 5px;
}


.gameSceneNotification{
  pointer-events: auto;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  border: 2px dotted white;
  /* background-color: rgba(0,0,0,0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); */
   position: absolute;
   color: white;
   font-size: 1.2em;
   text-align: center;
   font-weight: bold;
   font-family: 'Roboto Condensed', sans-serif;
   opacity: 0.9;
   transition-duration: 0.1s;
}


.truckNotification{
  pointer-events: auto;
  width: 25px;
  height: 25px;
  border-radius: 0px;
  border: 2px dotted white;
  /* background-color: rgba(0,0,0,0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); */
   position: absolute;
   color: white;
   font-size: 1.2em;
   text-align: center;
   font-weight: bold;
   font-family: 'Roboto Condensed', sans-serif;
   opacity: 0.9;
   transition-duration: 0.1s;
}
.factoryNotification{
  pointer-events: auto;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  border: 2px dotted white;
  /* background-color: rgba(0,0,0,0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); */
   position: absolute;
   color: white;
   font-size: 1.2em;
   text-align: center;
   font-weight: bold;
   font-family: 'Roboto Condensed', sans-serif;
   opacity: 0.9;
   transition-duration: 0.1s;
}

.redNotification{
  color:#ff2626;
  border-color: #ff2626;
}
