#pathSection{
  width: 100vw;
  height: 100vh;
  position: fixed;
  pointer-events: none;
  display: block;
}

#pathSection_sendButton{
  width: 120px;
  height: 40px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-weight: 1.2em;
  pointer-events: auto;
  text-shadow: 0px 0px 1px black;
  display: none;
}

#pathSection_notification{
  text-align: center;
  font-weight: bold;
  color: #d30024;
  text-shadow: 0px 0px 1px black;
  font-size: 0.8em;
  display: none;
  font-family: sans-serif;
}
