#trucksMenuSection{
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  z-index: 3;
  perspective: 1000px;
  -webkit-perspective:1000px;
}
#trucksMenuContainer{
  display: none;
  position: fixed;
  width: 400px;
  height: 120px;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
  overflow: hidden;
  font-family: sans-serif;

  transform: translate(-50%,50%) rotateX(15deg);

}


#trucksMenuList{
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  display: flex;

}


.trucksMenu-card{
  width: 80px;
  height: 88px;
  flex:0 0 auto;
    margin-right: 20px;
}


.trucksMenu-card-price{
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
}


.trucksMenu-card-button{
  width: 100%;
  height: 26px;
  background-color: #303030;
  color: #EAEAEA;
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;

}

.trucksMenu-card-button-span{
  margin-left: 8px;
}



.trucksMenu-card-resource{

  margin-bottom: 5px;
}




#truckDice{
  display: none;
  width: 75px;
  height: 75px;
  overflow: hidden;
  position: fixed;

  left: 50%;
  top:30%;

  border-radius: 10px;


  transform: translate(-50%,-50%);


}

#truckDiceInner{
  width: 100%;
  height: 600%;
  background-image: url(../img/dice/dice.png);
  background-size: contain;
  position: relative;
}



#truckCard{
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%) translateX(80%)rotateY(-25deg);
  display: none;
}
