#turnSection{
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  position: fixed;

  color: white;
  text-shadow: 0px 0px 1px black;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 1.5em;
  padding-top: 1vh;
  z-index: 1;
}

#turnInfo{
  position: fixed;
  bottom:2%;
  right: 8%;
  transform: translateX(-50%);
}

#turnButton{
  position: fixed;
  width: 10vw;
  height: 10vh;
  font-size: 0.9em;
  font-weight: 400;
  bottom:10%;
  right: 10%;


  height: 50px;



  pointer-events: auto;
  display: none;
}
