/*
  red #D7355C
  card #FAF9F8
  green #A3D735


 */

#tutorialSection{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10000;
  pointer-events: none;
  font-family: 'Roboto Condensed';

  display: block;
}
.tutorialSection-main{
 width: 400px;
 position: fixed;
 top:50%;
 left: 50%;
 transform: translate(-50%,-50%);
 border-radius: 20px;
 background-color: #FAF9F8;
 box-shadow: 0px 0px 10px rgba(48,48,48,0.5);
 padding: 15px;
 pointer-events: auto;
}
.tutorialSection-main-header{
  width: 100%;
  color: #D7355C;
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;

}
.tutorialSection-main-text{
  width: 100%;
  color: #303030;
  font-size: 12px;
  line-height: 1.3em;
  height: 200px;
  overflow-y: scroll;
  margin-bottom: 20px;
}
.tutorialSection-main-button{
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: #D7355C;
  color:white;
  width: 40%;
  height: 40px;
  margin: auto;
  border-radius: 20px;
  text-transform: uppercase;
}


.tutorialSection-second{
  display: flex;
  position: fixed;
  z-index: 1000;
  right: 0px;
  top:50%;
  transform: translate(0%,-50%);
  align-items: center;
  pointer-events: auto;
}
.tutorialSection-second-label{
  width: 50px;
  height: 50px;
  background-color: #D7355C;
  background-size: cover;
  border-radius: 25px 0px 0px 25px;
}
.tutorialSection-second-body{
  width: 250px;
  max-height: 300px;
  /* height: 300px; */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(0,0,0,0.3);
  padding: 10px;
  display: flex;
  flex-direction: column;
      align-items: flex-end;
}
.tutorialSection-second-body-container{
  width: 100%;
  max-height: 150px;
  font-size:12px;
  color: white;
  margin-bottom: 10px;
  overflow-y: scroll;
}
.tutorialSection-second-body-button{
  /* width: 100%;
  max-height: 150px;
  font-size:12px;
  color: white;
  margin-bottom: 10px;
  overflow-y: scroll; */
  background-color: #D7355C;
  min-width: 50px;
  padding: 10px 20px;
  height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  color: white;
  display: flex;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;

}
.tutorialSection-important{
  background-color: #D7355C;
  border-radius: 10px;
  padding: 0px 5px;
  color: white;
  font-weight: bold;;
}

.tutorialSection-imageDiv{
  width: 100%;
  height: 55px;
  background-size: cover;
}
.tutorialSection-iconDiv{
  background-color:  #FAF9F8;
  display: inline-block;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  background-size: cover;
}
.tutorialSection-iconDiv-dark{
  background-color:  #303030;
  display: inline-block;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  background-size: cover;
}

.tutorialSection-image-controls_1{
  background-image: url(../img/tutorial/controls_1.png);
}
.tutorialSection-image-controls_2{
  background-image: url(../img/tutorial/controls_2.png);
}
.tutorialSection-image-controls_3{
  background-image: url(../img/tutorial/controls_3.png);
}
.tutorialSection-image-controls_4{
  background-image: url(../img/tutorial/controls_4.png);
}
.tutorialSection-image-controls_5{
  background-image: url(../img/tutorial/controls_5.png);
}
.tutorialSection-image-factory_1{
  background-image: url(../img/tutorial/factory_1.png);
}
.tutorialSection-image-factory_2{
  background-image: url(../img/tutorial/factory_2.png);
}
.tutorialSection-image-factory_3{
  background-image: url(../img/tutorial/factory_3.png);
}
.tutorialSection-image-factory_4{
  background-image: url(../img/tutorial/factory_4.png);
}