
.image-sawmill_a {
  background-image: url(../img/images/sawmill_a.png);
}
.image-waterStation_a {
  background-image: url(../img/images/waterStation_a.png);
}
.image-sandMine_a {
  background-image: url(../img/images/sandMine_a.png);
}
.image-oilWell_a {
  background-image: url(../img/images/oilWell_a.png);
}

.image-goldMill_a {
  background-image: url(../img/images/goldMill_a.png);
}

.image-road_a {
  background-image: url(../img/images/road_a.png);
}

.image-paperFactory_a {
  background-image: url(../img/images/paperFactory_a.png);
}
.image-steelMill_a {
  background-image: url(../img/images/steelMill_a.png);
}